@use "root";
@use 'base/colors' as col;
@use "base/font-size" as fs;
@use "components/button";
@use "components/input";
@use "Layouts/login.scss";
@use "Layouts/create_or_koin";
@use "Layouts/create_room";
@use "Layouts/join_room";
@use "Layouts/chat_room";

body {
  background-color: col.$prime_bg;
}

.main_contaner {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: calc(100vw - 200px);
  min-width: 600px;
  max-width: 1500px;
  height: 100vh;
}

.contaner_center {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1.5em;
  align-self: center;
  height: calc(100vh - 140px);
  min-height: 500px;
  max-height: 800px;
  width: 49.3em;
  min-width: 500px;
  max-height: 700px;
  margin: 0 auto;
}

.center_left {
  background-color: col.$second_bg;
  display: grid;
  color: col.$text_col;
  box-shadow: 0px 0px 15px 5px rgba(22, 22, 37, 0.45);
}

.center_right {
  background-color: col.$second_bg;
  display: grid;
  grid-template-rows: 30% 70%;
  color: col.$text_col;
  justify-content: stretch;
  justify-items: center;
  box-shadow: col.$second_bg;
  box-shadow: 0px 0px 15px 5px rgba(22, 22, 37, 0.45);

  .public_rooms_list {
    display: grid;
    width: calc(100% - 100px);
    margin: 0 auto;

    ul {
      list-style: none;
    }

    li {
      list-style: none;
      margin: 0.1em 0.5em;
      display: inline-block;
      cursor: pointer;
      user-select: none;
    }
  }

  h1 {
    font-size: fs.$head_font;
    align-self: center;
  }

  p {
    margin: 0 2em;
    word-spacing: 5px;
  }
}
